*,html {
    margin: 0;
    padding: 0;
}
/* MAIN PAGE [layouts.main] */
nav {
    background-color: transparent;
    box-shadow: 2px 2px 20px;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 55em;
    margin-left: 3em;
    align-items: center;
    margin-top: 1em;
    
}

ul img {
    display: flex;
    align-content: center;

}

li a{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

li a:hover {
    color: maroon;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid maroon;
}

/* HOME PAGE [book.home]*/

.shape {
    
    width: 100%;
    display: block;
    width: 350px;
    height: 400px;
    max-width: 850px;
    border-radius: 20px;
    background-color: rgba(193, 199, 221, 0.626);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape h1 {
    margin: 25px 0px 0px 25px;
    padding-bottom: 15px;
    font-size: 35px;
}
.shape form {
    width: 250px;
    margin: 30px 50px;
}

.shape input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    padding: 3px;
    border: 0;
    border-radius: 20px;
    text-indent: 10px;

}

.shape button {
    padding: 7px;
    margin: 20px 0;
    width: 100%;
    border: 0;
    border-radius: 20px;
    
}

.shape input:hover {
}